openapi: "3.0.1"
info:
  title: "EveryoneSocial"
  description: "ES Open API Template"
  version: "1.0.0"
servers:
  - url: https://api.everyonesocial.app/v1
paths:
  /content/{content_id}:
    get:
      operationId: "getContent"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "405":
          description: "405 response"
          content: { }
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Content"
      security:
        - everyonesocial_pool: [ ]
  /group:
    get:
      operationId: "getGroups"
      parameters:
        - name: "group_name"
          in: "query"
          schema:
            type: "string"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                type: object
                properties:
                  group_list:
                    type: "array"
                    items:
                      $ref: "#/components/schemas/Group"
                  _metadata:
                    $ref: "#/components/schemas/Metadata"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
  /group/{group_id}:
    get:
      operationId: "getGroup"
      parameters:
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
  /group/{group_id}/content:
    post:
      operationId: "postGroupContent"
      parameters:
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Content"
        required: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Content"
        "400":
          description: "Bad Payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
  /group/{group_id}/content/{content_id}:
    get:
      operationId: "getGroupContent"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "405":
          description: "405 response"
          content: { }
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Content"
      security:
        - everyonesocial_pool: [ ]
    delete:
      operationId: "deleteGroupContent"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "204":
          description: "204 response"
      security:
        - everyonesocial_pool: [ ]
    patch:
      operationId: "patchGroupContent"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Content"
        required: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Content"
        "400":
          description: "Bad Payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
  /group/{group_id}/content/{content_id}/image:
    post:
      operationId: "postGroupContentImage"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostURLResponse"
        "400":
          description: "Bad Payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
  /group/{group_id}/content/{content_id}/repost:
    post:
      operationId: "repostGroupContent"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: string
              additionalProperties: false
        required: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                type: string
        "400":
          description: "Bad Payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "404":
          description: "Not Found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
  /group/{group_id}/content/{content_id}/publish:
    post:
      operationId: "publishGroupContent"
      parameters:
        - name: "content_id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "group_id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentPublishInfo"
        required: true
      responses:
        "200":
          description: "200 response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Content"
        "400":
          description: "Bad Payload"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
        "500":
          description: "Unknown Error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIError"
      security:
        - everyonesocial_pool: [ ]
components:
  schemas:
    Commentary:
      type: "object"
      additionalProperties: false
      properties:
        network:
          type: "string"
        commentary:
          type: "string"
    Group:
      type: "object"
      additionalProperties: false
      properties:
        id:
          type: "string"
          format: "uuid"
          readOnly: true
        name:
          type: "string"
        is_private:
          type: "boolean"
        description:
          type: "string"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        read_only:
          type: "boolean"
        _metadata:
          $ref: "#/components/schemas/Metadata"
    Content:
      required:
        - "id"
      type: "object"
      additionalProperties: false
      properties:
        id:
          type: "string"
          format: "uuid"
          readOnly: true
        group_id:
          type: "string"
          format: "uuid"
          readOnly: true
        title:
          type: "string"
        body:
          type: "string"
        reactions:
          type: "string"
          readOnly: true
        comments:
          type: "string"
          readOnly: true
        url:
          type: "string"
        disclosures:
          type: "array"
          items:
            type: "object"
            properties:
              network:
                type: "string"
              disclosure_id:
                type: "string"
                format: "uuid"
        shared_by:
          type: "array"
          items:
            $ref: "#/components/schemas/UserInfo"
        status:
          type: "string"
          readOnly: true
        created_by:
          $ref: "#/components/schemas/UserInfo"
        created_at:
          type: "string"
          format: "date-time"
        is_engageable:
          type: "boolean"
        is_shareable:
          type: "boolean"
        is_important:
          type: "boolean"
        important_message:
          type: "string"
        media:
          type: array
          items:
            $ref: "#/components/schemas/MediaContent"
        publish_info:
          $ref: "#/components/schemas/ContentPublishInfo"
        _metadata:
          $ref: "#/components/schemas/Metadata"
    ContentPublishInfo:
      type: "object"
      additionalProperties: false
      properties:
        is_pinned:
          type: "boolean"
        pinned_end_at:
          type: "string"
          format: "date-time"
        publish_at:
          type: "string"
          format: "date-time"
          description: "Defaults to immediately."
        expire_at:
          type: "string"
          format: "date-time"
        html_url:
          type: "string"
          readOnly: true
        embeded_content_code:
          type: "string"
          readOnly: true
    Metadata:
      required:
        - "object_type"
      type: "object"
      additionalProperties: false
      properties:
        next:
          type: "string"
        self:
          type: "string"
        object_type:
          type: "string"
        total_count:
          type: "integer"
    MediaContent:
      type: "object"
      additionalProperties: false
      properties:
        url:
          type: "string"
        media_type:
          type: "string"
        width:
          type: integer
        height:
          type: integer
    UserInfo:
      type: "object"
      additionalProperties: false
      properties:
        id:
          type: "string"
        full_name:
          type: "string"
        email_address:
          type: "string"
        _metadata:
          $ref: "#/components/schemas/Metadata"
    PostURLResponse:
      type: "object"
      additionalProperties: false
      properties:
        method:
          type: "string"
        post_data:
          type: "string"
        url:
          type: "string"
        _metadata:
          $ref: "#/components/schemas/Metadata"
    APIError:
      type: "object"
      additionalProperties: false
      properties:
        reason:
          type: "string"
        message:
          type: "string"
        additional_info:
          type: array
          items:
            type: "string"
        _metadata:
          $ref: "#/components/schemas/Metadata"
  securitySchemes:
    everyonesocial_pool:
      type: "apiKey"
      name: "Authorization"
      in: "header"
